<div class="container">

  <% if(books.length > 0) { %>
  <h2 class="secondary-text p-2">Search your Books!</h2>

<form action="/books" method="GET">

  <div class="main-form">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    
    <div class="form-group">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    
    <div class="form-group">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">  
    </div>
    
    <div class="btn-group">
      <button class="btn btn-dark" type="submit">Search</button>
    </div>

    
  </div>

</form>


<div class="book-gallery">
  <% books.forEach(book => { %>

    <div class="book">
      <a href="/books/<%= book.id %>">
        <img src="<%= book.coverImagePath %>" alt="">
      </a>
    </div>
   
  <% });  %>
</div>

<% } else { %>

  <div class="main-form" id="no-book-message">
    <h2 class="secondary-text p-2" >Oops! You don't have any books right now! Let's go add some!</h2>
    <a class="btn btn-dark" href="/books/new">Add Book</a>
  </div>

<% } %>  

</div>